
<div class="content">
  <h2 class="section-title"> Оберіть по 3 проблеми із кожного списку, що турбують Вас найбільше</h2>
  <div class="section-list">
    <div class="section-list-heading">
      <h3 class="h3">Поточні</h3><a class="but more" href="#">Показати всі</a>
    </div>
    <div class="section-list-conteiner">
      <ul>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма Питна вода Київщини</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text"> Програма енергозбереження</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма «Здоров’я Київщини»</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">«Щаслива родина – успішна країна» </span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма сприяння розвитку суспільства</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма Питна вода Київщини</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text"> Програма енергозбереження</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма «Здоров’я Київщини»</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">«Щаслива родина – успішна країна» </span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма сприяння розвитку суспільства</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма Питна вода Київщини</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text"> Програма енергозбереження</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма «Здоров’я Київщини»</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">«Щаслива родина – успішна країна» </span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма сприяння розвитку суспільства</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма «Здоров’я Київщини»</span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">«Щаслива родина – успішна країна» </span>
          </label>
        </li>
        <li class="check-block">
          <label>
            <input type="checkbox"/><span class="icon"></span><span class="text">Програма сприяння розвитку суспільства</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>