
<div class="global-wrapper">
  <div class="content main-img-wrapp">
    <div class="main-img"><span class="descr">Ви можете обрати по 3 пункти з кожної програми та проголосувати за них</span></div>
  </div>
  <div class="content">
    <div class="section-list">
      <div class="section-list-heading">
        <h3 class="h3">Поточні</h3><a class="but more" href="#">Показати всі</a>
      </div>
      <div class="section-list-conteiner">
        <ul>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="send-voice">
      <button class="but but-reg">Віддати свій голоc</button>
      <div class="warning"><mark>Увага!</mark> Для голосування необхідно авторизуватись. Натисніть <a href="#">сюди</a> для авторизації</div>
    </div>
  </div>
</div>