
<div class="global-wrapper">
  <div class="content">
    <div class="flex-row">
      <div class="flex-row-item">
        <div class="img"><img src="img/svg/test-1.svg" alt=""/></div>
        <h3 class="title-caption">ПРИНЦИП 1</h3><a class="title-link" href="#">КЕРУЙ СВОЇМ ДЕПУТАТОМ</a>
        <p class="title-description"> Программа кандидата розробляється разом із громадою. На базі рівності, взаємоповаги та спільних принципів</p>
      </div>
      <div class="flex-row-item">
        <div class="img"><img src="img/svg/test-2.svg" alt=""/></div>
        <h3 class="title-caption">ПРИНЦИП 2</h3><a class="title-link" href="#">СЛІДКУЙ ЗА СВОЇМ ДЕПУТАТОМ</a>
        <p class="title-description"> Программа кандидата розробляється разом із громадою. На базі рівності, взаємоповаги та спільних принципів</p>
      </div>
      <div class="flex-row-item">
        <div class="img"><img src="img/svg/test-1.svg" alt=""/></div>
        <h3 class="title-caption">ПРИНЦИП 3</h3><a class="title-link" href="#">СЛІДКУЙ ЗА СВОЇМ ДЕПУТАТОМ</a>
        <p class="title-description"> Программа кандидата розробляється разом із громадою. На базі рівності, взаємоповаги та спільних принципів</p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="section-list">
      <div class="section-list-heading">
        <h3 class="h3">Поточні</h3><a class="but more" href="#">Показати всі</a>
      </div>
      <div class="section-list-conteiner">
        <ul>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content chart-wraper">
    <h2>Рейтинг программ за кількістю голосів</h2>
    <div class="chart-box">
      <div class="chart-box-scale">
        <div class="scale-item"><span>100</span></div>
        <div class="scale-item"><span>80</span></div>
        <div class="scale-item"><span>60</span></div>
        <div class="scale-item"><span>40</span></div>
        <div class="scale-item"><span>20</span></div>
        <div class="scale-item"><span>0</span></div>
      </div>
      <div class="progress-bar">
        <div class="progress-item">
          <div class="progress"></div>
          <div class="name">Програма"Питна вода Київщини"</div>
        </div>
        <div class="progress-item">
          <div class="progress"></div>
          <div class="name">Програма"Питна вода Київщини"</div>
        </div>
        <div class="progress-item">
          <div class="progress red">
            <div class="progress-descr"><span class="title">Травень</span><span class="count">72%</span></div>
          </div>
          <div class="name">Програма"Питна вода Київщини"</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="section-list">
      <div class="section-list-heading">
        <h3 class="h3">Поточні</h3><a class="but more" href="#">Показати всі</a>
      </div>
      <div class="section-list-conteiner">
        <ul>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма Питна вода Київщини</a></li>
          <li><a href=""> Програма енергозбереження</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
          <li><a href="">Програма «Здоров’я Київщини»</a></li>
          <li><a href="">«Щаслива родина – успішна країна» </a></li>
          <li><a href="">Програма сприяння розвитку суспільства</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="send-voice">
      <button class="but but-reg">Віддати свій голоc</button>
      <div class="warning"><mark>Увага!</mark> Для голосування необхідно авторизуватись. Натисніть <a href="#">сюди</a> для авторизації</div>
    </div>
  </div>
</div>