* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  &:focus {
    outline: none;
  }
  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  &[type="search"]:focus::placeholder{
    color: transparent;
  }
}

h1, h2, h3{
  margin: 0;
}


figure{
  margin: 0;
}

label{
  cursor: pointer;
}
