.h3{
  text-transform: uppercase;
  font-size: $font + 2;
  font-weight: $sem-b;
  letter-spacing: 1.7px;
  position: relative;
  padding-bottom: 8px;
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #ED1B25;
    width: 38%;
  }
}

.section-title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}