.section-list{
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(209, 209, 209, 0.8);
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom:28px;
  &-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 34px;
  }
  &-conteiner{
    ul{
      column-count: 3;
      .check-block{
        display: inline-block;
        width: 100%;
        margin-bottom: 29px;
        position: relative;

        label{
           padding-left: 20px;
          overflow: hidden;
          display: block;
        }
        input{
          position: absolute;
          right: 100%;
          &[type="checkbox"]:checked + .icon{
            @include sprite($ch);
          }
          &[type="checkbox"]:checked + .icon + span{
            color: red;
          }
        }
        .icon{
          position: absolute;
          left: 0;
          top:0;
          @include sprite($msg);
        }
        .text{
          display: inline-block;
        }
      }
    }
  }

}