
body{
  font-size: $font;
}

.content{
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.global-wrapper{
  background-color: #eef0f2;
  padding-bottom: 100px;
}











