header {
  .inner-header {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 361px;
      height: 51px;
      display: inline-block;
      background-image: url("/img/svg/logo.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
    }
    .search {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      margin-right: 24px;
      .but-search{

      }
      input{
        width: 100%;
      }
    }

  }
}