.main-nav {
  flex-grow: 0.6;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      color: $black;
      margin-left: 20px;
      &:nth-child(1) {
        margin-left: 0;
      }
      a {
        text-transform: uppercase;
        font-weight: $sem-b;
        color: inherit;
      }
      .but-reg{
        margin-top: -3px;
      }
    }
  }
}