footer.footer
    .content
        .top-footer
            .soc-buttons
                a(href="#").but.soc.fb
                a(href="#").but.soc.im
                a(href="#").but.soc.yt
            .main-nav
                ul
                    li
                        a(href="#") про нас

                    li
                        a(href="#") контакты
                    li
                        button.but.but-reg Авторизуватися
        .top-bottom
            address &copy; 2019 Віталій Журавський
            .bootom-links
                a(href="#") Загальні положення та умови
                a(href="#") Політика конфіденційності



