-var textlist = ["Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства", "Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства","Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства"]

.content
    h2.section-title  Оберіть по 3 проблеми із кожного списку, що турбують Вас найбільше
    .section-list
        .section-list-heading
            h3.h3 Поточні
            a(href="#").but.more Показати всі
        .section-list-conteiner
            ul
                each text in textlist
                    li.check-block
                        label
                            input(type="checkbox")
                            span.icon
                            span.text=text