
.section
    .main-video.content
        iframe(  src="https://www.youtube.com/embed/fvjf36kram0?&autoplay=1"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay)

        .main-video-caption
            .text Фильм Оливера Стоуна «Нерасказанная история Украины" (Revealing Ukraine)
            p Оскароносный режиссер Оливер Стоун и украинский документалист Игорь Лопатенок документальный фильм о том, как развивались события в Украине после Майдана и попытались разобраться в причинах кризиса в Украине.
            p В "Нерассказанной истории" поднимаются аспекты Революции достоинства, войны на Донбассе, вмешательства Киева в американские выборы 2016 года, захвата украинских моряков возле Керченского пролива и других важных страниц нашей истории последних лет.

            p По словам Виктора Медведчука, фильм анализирует события в треугольнике: Украина - Россия – США, и из этой ленты видно, что США используют Украину в интересах противостояния с Россией.

            p В главных ролях: Оливер Стоун, Виктор Медведчук, Оксана Марченко



    .video-grid.content
        .video-grid-item
            a(href="https://www.youtube.com/watch?v=LbgE89klqoQ&feature=youtu.be" target="blank").img
                img(src="https://vidthmb-clf.112.ua/thumbs/300x138/2019/07/01/298872.jpg?timestamp=1561979282" alt="")
            .description
                a(href="https://www.youtube.com/watch?v=LbgE89klqoQ&feature=youtu.be" target="blank").link В Италии на острове Сицилия начался 65-й международный кинофестиваль в Таормине

        .video-grid-item
            a(href="https://www.youtube.com/watch?v=cuqfTTMWDpo&feature=youtu.be" target="blank").img
                img(src="https://vidthmb-clf.112.ua/thumbs/original/2019/07/07/299379.jpg?timestamp=1562520753" alt="")
            .description
                a(href="https://www.youtube.com/watch?v=cuqfTTMWDpo&feature=youtu.be" target="blank").link Фильм Оливера Стоуна об Украине получил Гран-при в Таормине

        .video-grid-item
            a(href="https://www.youtube.com/watch?v=v4d90NrwSuM&feature=youtu.be" target="blank").img
                img(src="https://i.ytimg.com/vi/v4d90NrwSuM/hqdefault.jpg" alt="")
            .description
                a(href="https://www.youtube.com/watch?v=v4d90NrwSuM&feature=youtu.be" target="blank").link Медведчук о фильме Revealing Ukraine: В ленте говорится о происходящем в Украине и важности мира

        .video-grid-item
            a(href="https://www.youtube.com/watch?v=j2ybymPm03Y&feature=youtu.be" target="blank").img
                img(src="https://imgclf.112.ua/original/2019/07/17/395963.jpg?timestamp=1563363043" alt="")
            .description
                a(href="https://www.youtube.com/watch?v=j2ybymPm03Y&feature=youtu.be" target="blank").link Медведчук об обстреле телеканала "112 Украина": Не думаю, что виновные будут найдены