-var textlist = ["Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства", "Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства","Програма Питна вода Київщини", " Програма енергозбереження", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства", "Програма «Здоров’я Київщини»", "«Щаслива родина – успішна країна» ", "Програма сприяння розвитку суспільства"]

.global-wrapper
    .content
        .section-list
            .section-list-heading
                h3.h3 Поточні
                a(href="#").but.more Показати всі
            .section-list-conteiner
                ul
                    each text in textlist
                        li
                            a(href="")=text

    .content
        .send-voice
            button.but.but-reg Віддати свій голоc
            .warning <mark>Увага!</mark> Для голосування необхідно авторизуватись. Натисніть <a href="#">сюди</a> для авторизації
