
.section
    .main-video.content
        iframe(  src="https://www.youtube.com/embed/OXuIqaeg0SI"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

        .main-video-caption
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur consequuntur distinctio earum esse expedita hic id impedit magnam perspiciatis possimus quasi quidem repellendus saepe sunt tempore, totam vel voluptas.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur consequuntur distinctio earum esse expedita hic id impedit magnam perspiciatis possimus quasi quidem repellendus saepe sunt tempore, totam vel voluptas.

    .video-grid.content
        .video-grid-item
            img(src="https://picsum.photos/200/300?grayscale" alt="")
        .video-grid-item
            img(src="https://picsum.photos/id/237/200/300" alt="")
        .video-grid-item
            img(src="https://picsum.photos/200/300/?blur" alt="")
        .video-grid-item
            img(src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="")