@media all and (max-width: 480px) {
  header {
    .inner-header {
      padding-top: 10px;
      .logo {
        width: 100%;
        margin-bottom: 20px;
      }
      .search {
        margin-bottom: 20px;
        input {
          margin-left: 0;
        }
      }
      .main-nav{
        ul{
          li{
            margin-right: 10px;
            &:nth-last-child(1){
              margin-right: 0;
            }
            .but-reg{
               padding: 0 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .footer {
    .top-footer {
      flex-wrap: wrap;
      .soc-buttons {
        width: 100%;
        text-align: center;
        order: 1;
      }
      .main-nav {
        order: 0;
        margin-bottom: 30px;
        width: 100%;
        li {
          &:nth-child(1) {
            margin-left: 0;
          }
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  .section-list {
    .section-list-heading{
      padding-bottom: 20px;
      .h3{
        font-size: 13px;
      }
      .more{
        flex-shrink: 0;
      }
    }
    .section-list-conteiner {
      ul {
        column-count: 1;
      }
    }
  }
  .chart-wraper {
    .chart-box {
      .progress-bar {
        .progress {
          width: 30px;
          .progress-descr {
            width: 70px;
            height: 45px;
            margin-left: -20px;
            padding: 7px 4px;
            .title {
              font-size: $font - 3;
            }
            .count {
              font-size: $font;
            }
          }
        }
        .name {
          font-size: 12px;
        }
      }
    }
  }
  .global-wrapper {

    .flex-row {
      justify-content: center;
      &-item {
        width: 100%;

        .img {
          width: 80%;
        }
        .title-link {

        }
        .title-description {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

}















