@media all and (max-width: 800px) {
  header {
    .inner-header {
      flex-wrap: wrap;
      padding-bottom: 10px;
      .logo {
        width: 45vw;
      }
      .search {
        margin-right: 0;
      }
    }
    .main-nav {
      width: 100%;
      ul {
        justify-content: center;
        li {
          margin-right: 30px;
          &:nth-last-child(1) {
            margin-right: 0;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .footer {
    .main-nav {
      width: initial;
      ul {
        li {
          margin-left: 10px;

          a {
          font-size: 2.7vw;
          }
          .but-reg{
            letter-spacing: initial;
            font-size: 13px;
          }
        }
      }
    }
  }

}